include abstracts/mixins

.frame
  .app
    .header
      include layout/attributes
    .wrapper
      

    button(class=['sheet-btn'] type='action' name='act_skill') Click me

include roll-templates/custom

script(type='text/worker')
  include modules/rollWorker.js
