include abstracts/mixins

include layout/attributes

button(class=['sheet-btn'] type='action' name='act_skill' skill="Ground Pound") Click me

include roll-templates/custom

script(type='text/worker')
  include modules/rollWorker.js


